<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- Root Checks -->
    <module name="com.puppycrawl.tools.checkstyle.checks.NewlineAtEndOfFileCheck">
        <property name="lineSeparator" value="lf"/>
    </module>

    <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocPackageCheck"/>

    <!-- TreeWalker Checks -->
    <module name="TreeWalker">

        <!-- Imports -->
        <module name="IllegalImportCheck" >
            <property name="id" value="GeneralIllegalImportCheck"/>
            <property name="illegalPkgs" value="com.google.common.(?!cache|util.concurrent).*,org.apache.commons.text.*,org.jetbrains.*,jdk.internal.jline.internal.*,reactor.util.annotation.*,org.checkerframework.checker.*,javax.ws.*"/>
            <property name="illegalClasses" value="org\.assertj\.core\.api\.Java6Assertions\..*,javax.annotation.Nullable"/>
            <property name="regexp" value="true"/>
        </module>
        <module name="IllegalImportCheck" >
            <property name="id" value="SLF4JIllegalImportCheck"/>
            <property name="illegalPkgs" value="org.slf4j.*"/>
            <property name="regexp" value="true"/>
        </module>
        <module name="UnusedImports" />

        <!-- Regexp -->
        <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
            <property name="format" value="^ *\t+ *\S" />
            <property name="message"
                      value="Line has leading tab characters; indentation should be performed with spaces only." />
            <property name="ignoreComments" value="true" />
        </module>
        <module name="Regexp">
            <property name="id" value="sysout"/>
            <property name="format" value="System\.out\.println"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
            <property name="maximum" value="0" />
            <property name="format" value="org\.junit\.jupiter\.api\.Assertions" />
            <property name="message" value="Please use AssertJ imports." />
            <property name="ignoreComments" value="true" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
            <property name="id" value="toLowerCaseWithoutLocale"/>
            <property name="format" value="\.toLowerCase\(\)"/>
            <property name="maximum" value="0"/>
            <property name="message"
                      value="String.toLowerCase(Locale.ROOT) should be String.toLowerCase(Locale.ROOT)"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
            <property name="id" value="toUpperCaseWithoutLocale"/>
            <property name="format" value="\.toUpperCase\(\)"/>
            <property name="maximum" value="0"/>
            <property name="message"
                      value="String.toUpperCase(Locale.ROOT) should be String.toUpperCase(Locale.ROOT)"/>
            <property name="ignoreComments" value="true"/>
        </module>

        <!-- Whitespace -->
        <module name="SingleSpaceSeparator" />
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck" />

        <module name="io.spring.javaformat.checkstyle.check.SpringJUnit5Check" />

        <!-- Modifiers -->
        <module name="ModifierOrder" />

        <module name="SuppressionCommentFilter"/>
    </module>

    <module name="io.spring.nohttp.checkstyle.check.NoHttpCheck"/>

    <!-- Suppressions -->
    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/checkstyle-suppressions.xml"/>
    </module>
</module>
