name: Post Release Tasks

on:
  workflow_dispatch:
    inputs:
      previous_ref_name:
        description: "Previous release version (e.g., v1.14.8)"
        required: false

jobs:
  post_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Post Release Tasks
        uses: micrometer-metrics/micrometer-github-workflows@main
        with:
          gh_token: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
          previous_ref_name: ${{ github.event.inputs.previous_ref_name }}
          spring_release_gchat_webhook_url: ${{ secrets.SPRING_RELEASE_GCHAT_WEBHOOK_URL }}
          bluesky_handle: ${{ secrets.BLUESKY_HANDLE }}
          bluesky_password: ${{ secrets.BLUESKY_PASSWORD }}
